<html>
  <head>
    <title>Chính Sách Giao Hàng</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 40px;
        line-height: 1.6;
      }
      h1 {
        font-size: 24px;
        font-weight: normal;
      }
      h2 {
        font-size: 20px;
        font-weight: normal;
      }
      p,
      li {
        font-size: 16px;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      li {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>
      Thông Tin Chi Tiết Chính Sách Giao Hàng Online Cho Khách Hàng Rabity
    </h1>

    <h2>1. Phí giao hàng các đơn hàng mua trực tuyến</h2>
    <ul>
      <li>
        - Áp dụng phí ship vận chuyển trên toàn quốc : 25.000 VNĐ/ 1 đơn hàng
      </li>
      <li>
        - Miễn phí giao hàng trên toàn quốc với sản phẩm trị giá từ 500.000 VNĐ
        (theo chương trình khuyến mãi của từng tháng)
      </li>
    </ul>

    <h2>2. Thời gian giao hàng (tham khảo)</h2>
    <ul>
      <li>
        - Khu vực nội thành Hà Nội và TP.HCM: Dự kiến nhận hàng 2-3 ngày làm
        việc (trừ ngày lễ)
      </li>
      <li>
        - Khu vực ngoại thành và các tỉnh: Dự kiến nhận hàng 3-5 ngày (trừ ngày
        lễ)
      </li>
    </ul>
    <p>
      * Trong vòng 24h sẽ có nhân viên liên hệ lại xác nhận đơn hàng. Thời gian
      giao hàng tính từ thời điểm xác nhận đơn hàng (thời gian giao hàng dự kiến
      nhân viên xác nhận đơn hàng sẽ báo lại)
    </p>

    <h2>3. Phí giao hàng các đơn hàng mua tại cửa hàng</h2>
    <p>- Tùy từng chương trình và được thông tin tại cửa hàng</p>
  </body>
</html>
