<!DOCTYPE html>
<html>
<head>
  <title>Phương thức thanh toán</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="../css/pay.css">
</head>
<body>
  <div class="container">
    <h1>Rabity</h1>
    <div class="breadcrumb">
      <a href="./gio-hang.html">Giỏ hàng</a> &gt;
      <a href="./thong-tin-giao-hang.html">Thông tin giao hàng</a> &gt;
      <a href="./phuong-thuc-thanh-toan.html">Phương thức thanh toán</a>
    </div>
    <div class="shipping-method">
      <div class="section-title">Phương thức vận chuyển</div>
      <div class="method-option">
        <input checked name="shipping" type="radio" />
        Giao hàng tận nơi (3-5 ngày) <span>25,000đ</span>
      </div>
    </div>
    <div class="payment-method">
      <div class="section-title">Phương thức thanh toán</div>
      <div class="method-option">
        <input checked name="payment" type="radio" />
        <img src="https://storage.googleapis.com/a1aa/image/pWAzKzYnOfVKaCG5Wll77fSf75o14AaVUnpaCffFdOBHIzceE.jpg" alt="COD icon" width="20" height="20" />
        Thanh toán khi giao hàng (COD)
      </div>
      <div class="method-option">
        <input name="payment" type="radio" />
        <img src="https://storage.googleapis.com/a1aa/image/zCVkqX9qIoZ8KxNf4gbkNaeK539oiafV7bKoHClueKoQkZOPB.jpg" alt="Bank transfer icon" width="20" height="20" />
        Chuyển khoản ngân hàng - Vietcombank
      </div>
      <div class="method-option">
        <input name="payment" type="radio" />
        <img src="https://storage.googleapis.com/a1aa/image/3yHicwn0iu42IJXzU0pAd1tT4kPdI89cBQNyrt3eSvxfYmzTA.jpg" alt="VNPay icon" width="20" height="20" />
        TT VNPay (ATM/Visa/MasterCard/JCB/QR Pay)
      </div>
      <div class="method-option">
        <input name="payment" type="radio" />
        <img src="https://storage.googleapis.com/a1aa/image/Cbhgjr2miVpzLlHJkcMYRb4pecXujAefvUKoijflEoELkZOPB.jpg" alt="MoMo icon" width="20" height="20" />
        TT qua ví MoMo
      </div>
    </div>
    <button class="complete-order" id="save-btn">Hoàn tất đơn hàng</button>
  </div>
  <!-- Modal -->
  <div class="modal-overlay" id="success-modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-icon">
            <i class="fa-solid fa-circle-check"></i>
        </div>
        <p>Bạn đã thanh toán thành công!</p>
        <button type="button" class="btn-close" id="close-modal">Đóng</button>
    </div>
</div>

<script src="../js/thong-tin-cua-toi.js"></script>
</body>
</html>
